.main-content>h2:first-child {
    margin-left: var(--padding);
    margin-right: var(--padding);
}
#edit_preferences {
    padding: 0 var(--padding);
}
#edit_settings {
    padding: var(--padding);
}
#edit_settings>*:not(:last-child) {
    margin-bottom: var(--padding);
}
#edit_preferences>*{
    margin-top: var(--padding);
    margin-bottom: var(--padding);
}
#edit_preferences>fieldset {
    padding: var(--padding);
}
#edit_preferences>fieldset:nth-child(odd) {
    border: 2px solid var(--main-pop-color);
}
#edit_preferences>fieldset:nth-child(even) {
    border: 2px solid var(--secondary-bg-color);
}
#edit_preferences .flex-input, #edit_settings .flex-input {
    justify-content: flex-start;
    width: 100%;
}
#edit_preferences .flex-input>input:not(:last-child) {
    margin-right: calc(var(--padding) / 2);
}
textarea {
    width: 100%;
    min-height: 50px;
    resize: none;
}