body {
    --main-bg-color: #2c2c54;
    --secondary-bg-color: #40407a;
    --main-text-color: #ffffff;
    --secondary-text-color: #dcdde1;
    --main-pop-color: #ff5252;
    --secondary-pop-color: #b33939;
    --padding: 20px;
    --border-rad: 5px;
    --footer-height: 80px;
	--error-color: #e84118;
	--button-font-size: 24px;
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 100vh;
    position: relative;
}
header, footer {
    background-color: var(--main-bg-color);
    padding: var(--padding);
    color: var(--main-text-color);
}
header p:first-of-type {
    font-style: italic;
}
header a {
    display: inline-block;
    cursor: pointer;
    color: var(--main-text-color);
    text-decoration: none;
}
header .active-pg {
    color: var(--secondary-text-color);
}
header .active-pg:hover {
    color: var(--secondary-text-color);
    cursor: default;
}
header a:hover {
    color: var(--main-pop-color);
}
header a:not(:last-child) {
    margin-right: var(--padding);
}
.main-content {
    position: relative;
    padding-bottom: var(--footer-height);
}
footer {
    /*TODO: this is always at the bottom but we need it to be at the
    bottom in the worst case (currently blocks content at the end)
    */
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: var(--footer-height);
    box-sizing: border-box;
}
.flex-input {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-content: space-between;
}
.flex-input>label {
    margin-right: 5px;
}
.flex-input>input {
    flex-grow: 10;
}