body {
    --main-bg-color: #2c2c54;
    --secondary-bg-color: #40407a;
    --ternary-bg-color: #B8D9F4;
    --main-text-color: #ffffff;
    --secondary-text-color: #a5b1c2;
    --main-pop-color: #cf6a87;
    --secondary-pop-color: #892b46;
    --main-pos-color: #87c16e;
    --secondary-pos-color: #5c9842;
    --main-neg-color: #cf6a87;
    --secondary-neg-color: #892b46;
    --padding: 20px;
    --border-rad: 5px;
    --footer-height: 80px;
	--error-color: #e84118;
	--button-font-size: 24px;
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    min-height: 100vh;
    position: relative;
}
header {
    background-color: var(--ternary-bg-color);
    color: var(--main-bg-color);
    background-position: center center;
    background-size: cover;
}
header, footer {
    padding: var(--padding);
}
footer {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}
header p:first-of-type {
    font-style: italic;
}
header a {
    display: inline-block;
    cursor: pointer;
    color: var(--main-pop-color);
    text-decoration: none;
}
header .active-pg {
    color: var(--secondary-pop-color);
}
header .active-pg:hover {
    color: var(--secondary-pop-color);
    cursor: default;
}
header a:hover {
    color: var(--secondary-pop-color);
}
header a:not(:last-child) {
    margin-right: var(--padding);
}
.main-content {
    position: relative;
    padding-bottom: var(--footer-height);
}
footer {
    /*TODO: this is always at the bottom but we need it to be at the
    bottom in the worst case (currently blocks content at the end)
    */
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: var(--footer-height);
    box-sizing: border-box;
}
.flex-input {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.flex-input>label {
    margin-right: 5px;
}
.flex-input>input {
    flex-grow: 10;
}
.error {
    color: var(--error-color);
}
.button {
    background-color: var(--main-pop-color);
    border: 1px solid var(--main-pop-color);
    padding: 5px;
    color: var(--main-text-color);
    cursor: pointer;
    border-radius: var(--border-rad);
}
.button:hover {
    background-color: var(--secondary-pop-color);
    box-shadow: 0 0 5px var(--ternary-bg-color);
    border: 1px solid var(--ternary-bg-color);
}