body {
    background-image: url("./../images/login_bg.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;/* Resize the background image to cover the entire container*/
}
.main-content, body {
    height: 100vh;
    overflow: hidden;
}
.login-form {
    display: block;
    width: 67%;
    height: auto;
    min-height: 33vh;
    margin: auto;
    margin-top: 16.5vh;
    min-width: 400px;
    background-color: var(--main-bg-color);
    padding: var(--padding);
    padding-top: calc( var(--padding) * 2 );
    color: var(--main-text-color);
    border-radius: var(--border-rad);
    text-align: center;
    position: relative;
}
.login-form p:first-of-type {
    font-style: italic;
}
.submit-login {
    min-width: 33%;
}
#toggle-login {
    position: absolute;
    top: var(--padding);
    right: var(--padding);
}
.login-form>form>*:not(:last-child) {
    margin-bottom: calc(var(--padding) / 2);
}
#login_error {
	color: var(--error-color);
}

#login_error_btn {
	background-color: var(--main-pop-color);
	font-size: var(button-font-size);
	padding: var(--padding);
	border-radius: var(--border-rad);
	color: var(--main-bg-color);
}
#login_error_btn:active {
	background-color: var(--main-bg-color);
	box-shadow: 0 5px #666;
	transform: translateY(4px);
	color: var(--main-pop-color);
}
input {
    border-radius: var(--border-rad);
    padding: calc(var(--padding) / 2);
}