.main-content {
    padding-left: var(--padding);
    padding-right: var(--padding);
    padding-top: var(--padding);
}
h2:first-of-type {
    margin-bottom: calc(var(--padding) / 2);
    margin-top: calc(var(--padding) / 2);
}
.about-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.about-text>.gen-info {
    font-style: italic;
}
.profile-pic {
    margin-right: var(--padding);
}
#match-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}
.title-wrapper {
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    align-items: center;
}
.title-wrapper>:first-child {
    margin-right: var(--padding);
}
#match-buttons>#match-yes, #match-buttons>#match-no {
    padding: calc(var(--padding) / 2);
    cursor: pointer;
}
#match-buttons>#match-yes{
    background-color: var(--main-pos-color);
    border-radius: var(--border-rad) 0 0 var(--border-rad);
}
#match-buttons>#match-yes:hover{
    background-color: var(--secondary-pos-color);
    color: var(--main-text-color);
}
#match-buttons>#match-no{
    background-color: var(--main-neg-color);
    border-radius: 0 var(--border-rad) var(--border-rad) 0;
}
#match-buttons>#match-no:hover{
    background-color: var(--secondary-neg-color);
    color: var(--main-text-color);
}
hr {
    border: 2px solid var(--secondary-bg-color);
}
.love {
    background-color: var(--main-pop-color);
    color: var(--main-text-color);
    padding: calc(var(--padding) / 2);
    border-radius: var(--border-rad);
    cursor: default;
}